<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script> -->
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    
    <div id="app" class="container">
        
        <div class="left">
            <div class="profile">
                <div class="profile-left">
                    <img class="avatar" :src="currentUser.avatar" >
                    <span>{{ currentUser.name }}</span>
                </div>
                <div class="profile-right">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="notification placeholder-bg">
                notification
            </div>
            <div class="search placeholder-bg">
                search
            </div>
            <div class="contacts">
                <div v-for="(contact, i) in contacts" class="contact" :class="getContactClass(i)" @click="selezionaContatto(i)">
                    <div class="contact-avatar">
                        <img class="avatar" :src="contact.avatar" >
                    </div>
                    <div class="contact-text">{{contact.name}}</div>
                    <div class="contact-time">12:00</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="conversation-profile">
                <div class="profile-left">
                    <img class="avatar" :src="contacts[activeConversation].avatar" >
                    <span>{{ contacts[activeConversation].name }}</span>
                </div>
            </div>
            <div class="conversation-messages">
                <!-- <div class="message sent-message">Placeholder Inviato</div>
                <div class="message received-message">Placeholder Ricevuto</div> -->
                <div v-for="(message, i) in contacts[activeConversation].messages" class="message" :class="getMessageClass(message)">
                    {{message.message}}
                </div>
            </div>
            <div class="new-message placeholder-bg">
                new message
            </div>
        </div>

    </div>

    <script src="./js/main.js"></script>

</body>
</html>






